doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= title
        link(rel="stylesheet" href="/css/style.css")
    body
        div(class="form-wrapper")
            h1 Create New Pet Friend

            form(action="/update-cobj" method="POST")
                div
                    label(for="name") Name
                    input#name(
                        type="text"
                        name="name"
                        required
                    )
                
                div
                    label(for="breed") Breed
                    input#breed(
                        type="text"
                        name="breed"
                        required
                    )
                
                div
                    label(for="age") Age
                    input#age(
                        type="number"
                        name="age"
                        required
                    )
                
                div
                    input(type="submit" value="Create Pet Friend")
            a(href="/") Return to the homepage
        if error
            div(class="error-message")= error
